.padre{
  background: linear-gradient(black, rgb(10, 10, 159));
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: nowrap;
  justify-content: center;
  
}
.icono{
  width: 40px;
  height: 40px;
}
.fuente-generica{
  font-size: 20px;
  color:white;
}
.nombre{
  flex-direction: column;
  height: 60%;
  width: 100vw;
  background-image: url("./imagenes/fondo.png");
  display: flex;

  justify-content: center;
 
  align-items: center;
}
.foto{
 /*  height: 900x; */
  width: 20vw;
}
.info{
  flex-direction: row;
  width: 60%;
  height: 20%;

}
.boton{
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
}
.fuente-titulo{
  font-size: 30px;
  color:white;
}

@media (max-width: 600px){
.fuente-titulo{
  font-size: 20px;
  backdrop-filter: blur(10px);
}
.fuente-generica{
  font-size: 15px;
}
.foto{
/*   height: 70%; */
  width: 45%;
}
.info{
  width: 100%;
}
}